In [1]:
import pandas as pd
from glob import glob

In [2]:
data_0701 = pd.read_csv('/Users/namseoyong/Desktop/WeatherBigData/202107/test/20210701.LST.csv')

In [3]:
data_features = list(data_0701.columns)

In [4]:
data_features = data_features[:44]

In [26]:
file_names_202106 = glob('/Users/namseoyong/Desktop/WeatherBigData/202106/*.csv')

In [27]:
file_names_202109 = glob('/Users/namseoyong/Desktop/WeatherBigData/202109/*.csv')

In [28]:
a = sorted(file_names_202106)
b = sorted(file_names_202106)

In [29]:
li1 = []

In [30]:
for f in a:
    df = pd.read_csv(f)
    df.columns = data_features
    li1.append(df)

In [31]:
li2 = []

In [32]:
for f in b:
    df = pd.read_csv(f)
    df.columns = data_features
    li2.append(df)

In [33]:
total1 = pd.concat(li1, axis=0, ignore_index=True)

In [34]:
total2 = pd.concat(li2, axis=0, ignore_index=True)

In [35]:
total1.to_csv("total_train_202106.csv", index=False, encoding='utf-8-sig')

In [36]:
total2.to_csv("total_train_202109.csv", index=False, encoding='utf-8-sig')

In [37]:
df = pd.read_csv('/Users/namseoyong/Desktop/WeatherBigData/train1.csv')

In [38]:
df1 = pd.read_csv('/Users/namseoyong/Desktop/WeatherBigData/total_train_202106.csv')

In [39]:
df2 = pd.read_csv('/Users/namseoyong/Desktop/WeatherBigData/total_train_202109.csv')

In [40]:
df1.shape, df2.shape

((3136290, 44), (3136290, 44))

In [41]:
train = pd.concat([df, df1, df2], axis=0, ignore_index=True)

In [42]:
train

,YearMonthDayHourMinute,STN,Lon,Lat,isitu-LST,Band1,Band2,Band3,Band4,Band5,...,insitu-TED0.1,insitu-TED0.2,insitu-TED0.3,insitu-TED0.5,insitu-TED1.0,insitu-TED1.5,insitu-TED3.0,insitu-TED5.0,insitu-PA,insitu-PS
0,202007010000,92,128.66670,38.06670,-999.0,0.00000,0.00000,0.00000,-0.00015,0.0000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,202007010000,93,127.75443,37.94738,18.2,0.00000,-0.00114,0.00060,0.00000,0.0000,...,21.5,22.1,22.5,23.5,22.5,20.2,16.0,13.6,989.2,1000.2
2,202007010000,95,127.30420,38.14787,18.8,-0.00057,-0.00057,-0.00030,0.00000,0.0006,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,983.5,1001.5
3,202007010000,96,131.86983,37.23952,-999.0,0.00000,-0.00057,0.00119,0.00000,0.0000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,202007010000,98,127.06070,37.90188,18.1,-0.00057,-0.00057,-0.00119,0.00030,-0.0006,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,988.1,1001.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23208541,202106302350,984,129.12700,35.09100,-999.0,-0.00057,-0.00057,-0.00030,0.00090,0.0003,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
23208542,202106302350,989,126.32988,33.25786,-999.0,0.00000,-0.00057,0.00030,0.00075,-0.0006,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
23208543,202106302350,990,126.23053,33.31821,-999.0,-0.00057,-0.00057,-0.00030,-0.00015,0.0000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
23208544,202106302350,991,128.44562,35.80279,-999.0,-0.00057,0.00000,0.00000,0.00030,-0.0003,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
23208545,202106302350,992,128.44640,35.90620,-999.0,0.00000,-0.00057,0.00119,0.00030,-0.0003,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [43]:
train.to_csv("train2.csv", index=False, encoding='utf-8-sig')

In [90]:
df3 = pd.read_csv('/Users/namseoyong/Desktop/WeatherBigData/train.csv')

In [91]:
df3.shape

(10663386, 44)

In [92]:
df3

,YearMonthDayHourMinute,STN,Lon,Lat,isitu-LST,Band1,Band2,Band3,Band4,Band5,...,insitu-TED0.1,insitu-TED0.2,insitu-TED0.3,insitu-TED0.5,insitu-TED1.0,insitu-TED1.5,insitu-TED3.0,insitu-TED5.0,insitu-PA,insitu-PS
0,202007010000,92,128.66670,38.06670,-999.0,0.00000,0.00000,0.00000,-0.00015,0.0000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,202007010000,93,127.75443,37.94738,18.2,0.00000,-0.00114,0.00060,0.00000,0.0000,...,21.5,22.1,22.5,23.5,22.5,20.2,16.0,13.6,989.2,1000.2
2,202007010000,95,127.30420,38.14787,18.8,-0.00057,-0.00057,-0.00030,0.00000,0.0006,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,983.5,1001.5
3,202007010000,96,131.86983,37.23952,-999.0,0.00000,-0.00057,0.00119,0.00000,0.0000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,202007010000,98,127.06070,37.90188,18.1,-0.00057,-0.00057,-0.00119,0.00030,-0.0006,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,988.1,1001.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10663381,202108202350,984,129.12700,35.09100,-999.0,0.00000,0.00000,0.00060,0.00015,0.0006,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
10663382,202108202350,989,126.32988,33.25786,-999.0,0.00000,-0.00057,-0.00089,0.00000,-0.0003,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
10663383,202108202350,990,126.23053,33.31821,-999.0,0.00057,0.00000,0.00000,0.00015,0.0003,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
10663384,202108202350,991,128.44562,35.80279,-999.0,0.00057,0.00000,0.00030,-0.00015,0.0003,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
10663385,202108202350,992,128.44640,35.90620,-999.0,0.00000,0.00000,0.00119,0.00105,0.0000,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [93]:
df4 = pd.read_csv('/Users/namseoyong/Desktop/WeatherBigData/test.csv')

In [94]:
df4.shape

(54503, 49)

In [95]:
df4.head()

,YearMonthDayHourMinute,STN,Lon,Lat,isitu-LST,Band1,Band2,Band3,Band4,Band5,...,insitu-TED1.5,insitu-TED3.0,insitu-TED5.0,insitu-PA,insitu-PS,year,month,day,hour,min
0,202107010030,90,128.56473,38.25085,NaN,-0.00057,-0.00057,-0.00149,-0.00045,-0.0006,...,-999.0,-999.0,-999.0,1006.2,1008.2,2021,7,1,0,30
1,202107010030,93,127.75443,37.94738,NaN,-0.00057,-0.00057,-0.00119,0.00000,0.0000,...,19.5,15.3,13.5,996.8,1007.8,2021,7,1,0,30
2,202107010030,95,127.30420,38.14787,NaN,-0.00057,-0.00057,-0.00060,0.00015,0.0000,...,-999.0,-999.0,-999.0,990.4,1008.2,2021,7,1,0,30
3,202107010030,98,127.06070,37.90188,NaN,-0.00057,-0.00057,0.00030,-0.00015,-0.0003,...,-999.0,-999.0,-999.0,994.8,1008.1,2021,7,1,0,30
4,202107010030,99,126.76648,37.88589,NaN,-0.00057,0.00000,-0.00060,-0.00105,0.0000,...,-999.0,-999.0,-999.0,1004.6,1008.2,2021,7,1,0,30

In [96]:
def get_null(x):
    if x == -999.0:
        x = None
    return x

In [ ]:
for i in data_features:
    df3[i] = df3[i].apply(lambda x : get_null(x))
df3.isnull().sum()